<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="wpf_UWB_GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <wpf_UWB_GUI.Properties.Settings>
            <setting name="JSON_Setting_Info" serializeAs="String">
                <value>{}</value>
            </setting>
            <setting name="filter_value" serializeAs="String">
                <value>0#0#5#95#</value>
            </setting>
            <setting name="DEBUG" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="JSON_Device_Info" serializeAs="String">
                <value>[{}]</value>
            </setting>
            <setting name="map_value" serializeAs="String">
                <value/>
            </setting>
            <setting name="map_size" serializeAs="String">
                <value/>
            </setting>
        </wpf_UWB_GUI.Properties.Settings>
    </userSettings>
</configuration>
